<% form_tag session_path, :id => "login_form" do -%>
<p><%= label_tag 'login', 'Username: ' %>
<%= text_field_tag 'login', params[:login] %></p>

<p><%= label_tag 'password', 'Password: ' %>
<%= password_field_tag 'password' %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><button class="positive">Log me in!</button> <%= link_to 'I forgot my password.', password_path, :class => "secondary" %></p>
<% end -%>