<h2>Notes</h2>
<p>
  <%= form.text_area :note, :cols => 105, :rows => 6 %>
</p>
<p>
  <%= form.check_box :opt_out_of_photo_cd %>
  <%= form.label :opt_out_of_photo_cd, "Check this box if family opted out of receiving the photo cd" %>
</p>

<h2>Family Members</h2>

<% form.fields_for :participants do |pfields| %>
  <%= render :partial => 'participant_fields', :locals => { :pfields => pfields } %>
<% end -%>
<%= link_to_add_participant_fields "Add Another", form %>
