<h2>Notes</h2>
<p>
  <%= form.text_area :note, :cols => 105, :rows => 6 %>
</p>
<p>
  <%= form.label :number_of_photo_cds, "How many photo CD's would you like to order?" %>
  <%= form.select :number_of_photo_cds, (0..30) %>
  <span class="field_helper">(If family opts out of photo CD, set to 0)</span>
</p>

<h2>Family Members</h2>

<% form.fields_for :participants do |pfields| %>
  <%= render :partial => 'participant_fields', :locals => { :pfields => pfields } %>
<% end -%>
<%= link_to_add_participant_fields "Add Another Family Member", form, :class=>"float-right icon plus action" %>
<div class="clear"></div>
<br/>
