<% @reg = Registration.find(:first,
                           :conditions =>
                           ["participant_id = ? and year = ?",
                             participant.id,
                             Configuration.current.year] ) -%>
<tr>
  <td><%= participant.firstname -%></td>
  <td><%= participant.lastname -%></td>
  <td><%= participant.city -%></td>
  <td><%= participant.school -%></td>
  <td><%= participant.grade -%></td>
  <td><%= @reg.nil? ? 'no' : 'yes' -%></td>
  <td><%= text_field_tag "participant[#{participant.id}]", @reg.nil? ? '' : @reg.room_id , :size => 5 -%></td>
  <td><% if @reg -%>
      <% Room.find(@reg.room_id).participants.each do |p| -%>
        <% next if p == participant -%>
        <%= link_to p.fullname.gsub(' ','&nbsp;'), edit_participant_path(p) -%>
      <% end -%>
      <% else -%>
        &nbsp;
    <% end -%>
    </td>
</tr>
