<h1>Listing families</h1>

<table border=0>
  <tr>
    <th>Family Name</th>
    <th>Contact Person</th>
    <th>Has Warm Fuzzy</th>
    <th>Photo List</th>
    <th>Info Sheet</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @families.each do |family| %>
  <tr>
    <td><%= family.familyname -%></td>
    <td><%= family.principal -%></td>
    <% %w(haswarmfuzzy photolist infosheet).each do |what|-%>
      <td>
        <% form_for family do |form| -%>
          <div id="<%= "#{family.class}_#{family.id}_#{what}" -%>">
            <%= render :partial =>"flipflop", :locals => {:type => what, :family => family } -%>
          </div>
          <%= form.submit 'Change', :class => :flipflop -%>
        <% end -%>
      </td>
    <% end -%>
    <!--<td><%= link_to 'Show', family_path(family) -%>-->
    <td><%= link_to 'Edit', edit_family_path(family), :class => 'edit' %></td>
    <td><%= link_to 'Destroy', family, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @families -%>
<br />

<%= link_to 'New family', new_family_path %>
