<h1>New family</h1>

<% form_for @family do |form| %>
  <%= form.error_messages %>
  <%= render :partial => form -%>
  <p/>
  <%= form.submit 'Save', :disable_with => "Saving...", :class => 'button' %>
  <%= form.submit 'Save then create another', :disable_with => "Saving...", :class => 'button' %>
  <%= link_to 'Back', families_path, :class => 'button' %>
<% end -%>
<p/>
