Participants of this family:
<%= @participants.size %>
<table>
  <tr>
    <td>Principal</td>
    <td><%= @family.principal -%></td>
  </tr>
  <tr>
    <td>Family Name</td>
    <td><%= @family.familyname -%></td>
  </tr>
  <tr>
    <td>Has Warm Fuzzy</td>
    <td><%= @family.haswarmfuzzy -%></td>
  </tr>
  <tr>
    <td>Photo List</td>
    <td><%= @familyphotolist -%></td>
  </tr>
</table>
<p>
  <%= @family.note -%>
<p/>
<%= image_tag @family.photograph.url -%>
<% form_for :participants, :url => { :controller => :families, :action => :register, :method => :post} do |form| -%>
  <table>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>City</th>
      <th>School</th>
      <th>Grade</th>
      <th>Registered?</th>
      <th>Room</th>
    <tr/>
    <%= render :partial => 'participant', :collection => @participants -%>
  </table>
  <%= form.submit 'Update' %>
<% end -%>

<%= link_to 'Edit Family', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
