Participants of this family:
<%= @participants.size %>
<table>
  <tr>
    <td>Contact Person</td>
    <td><%= @family.principal -%></td>
  </tr>
  <tr>
    <td>Family Name</td>
    <td><%= @family.familyname -%></td>
  </tr>
  <tr>
    <td>Has Warm Fuzzy</td>
    <td><%= @family.haswarmfuzzy -%></td>
  </tr>
  <tr>
    <td>Photo List</td>
    <td><%= @familyphotolist -%></td>
  </tr>
</table>
<p>
  <%= @family.note -%>
<p/>
<% form_tag family_registration_path do -%>
  <%= hidden_field :family, :id -%>
  <table>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>City</th>
      <th>School</th>
      <th>Grade</th>
      <th>Registered?</th>
      <th>Room</th>
      <th>Others in room</td>
    <tr/>
    <%= render :partial => 'participant', :collection => @participants -%>
  </table>
  <%= submit_tag 'Update' %>
<% end -%>

<%= link_to 'Edit Family', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
