<h1>Editing participants</h1>

<%= link_to 'Add This Person To An Existing Family',
            url_for(:controller => :families, :action => :edit_choose_family, :participant => @participant) %> |

<%= link_to 'Add This Person To A New Family',
            url_for(:controller => :families, :action => :new, :participant => @participant) %>


<% form_for(@participant) do |f| %>
  <%= render :partial => f, :locals => {:participant_form => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @participant %> |
<%= link_to 'Back', participants_path %>
