<h1>Listing participants</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
	  <th>Health Form</th>
	  <th>Liability Form</th>
        
    </tr>
  </thead>
  <tbody>

<%= will_paginate @participants -%><br/>
<% @participants.each do |p| %>
    <tr>
  		<td><%=h p.id %>
  		<td><%=h p.fullname %></td>
      <td><%= link_to 'Edit', edit_participant_path(p), :class => 'edit' %></td>
      <td><% if p.user.nil? || !p.user.administrator?  %><%= link_to 'Destroy', p, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %><% end %></td>
	  <td>
		<%= p.health %>
		<% form_for p do |form|%>
			<%= form.hidden_field :health, :value => p.health ? "0":"1" %>
			<%= form.submit %>
		<% end %>
		</td>
	  <td>
		<%= p.liability %>
			<% form_for p do |form|%>
				<%= form.hidden_field :liability, :value => p.liability ? "0":"1" %>
				<%= form.submit %>
			<% end %>
		</td>
    </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @participants -%>
<br />

<%= link_to 'Add new participant', new_participant_path %>
