<h1>All participants</h1>

<% if @past_participants.blank? and @current_participants.blank? %>
    <p>No participants yet. Click the link below to create one.</p>
    <%= link_to 'New Participant', new_participant_path %>
<% else %>

  <table id="past_info" class="past_info">
    <thead>
      <tr>
        <th></th>
        <th>Past Participants</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @past_participants.each_with_index do |p, row| %>
        <tr class="<%= ContentHelper.rowstyle(row) %>">
          <td><%=h( row+1 ) %></td>
          <td><%=h p.list_name %></td>
          <td><%= link_to 'Edit', edit_participant_path(p), :class => 'edit' %></td>
          <td><% if p.can_delete?
                    confirm_msg = p.only_member_of_associated_family? ?
                      "This is the last person in '#{p.family.familyname}' family.
                       Are you sure you want to delete the participant & the family?" : 'Are you sure?' %>
                 <%= link_to 'Destroy', p, :confirm => "#{confirm_msg}", :method => :delete, :class => 'delete' %>
               <% end %>
          </td>
          <td><%=link_to("register", "#", :class => 'register', :onclick => "") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <table id="current_info" class="current_info">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Current Participants</th>
      </tr>
    </thead>
    <tbody>
      <% @current_participants.each_with_index do |p, row| %>
        <tr class="<%= ContentHelper.rowstyle(row) %>">
          <td><%=link_to("un-register", "#", :class => 'unregister', :onclick => "") %></td>
          <td><%=h( row+1 ) %></td>
          <td><%=h p.list_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


$(document).ready(function() {
	var $dialog = $('<div></div>')
		.html('This dialog will show every time!')
		.dialog({
			autoOpen: false,
			title: 'Basic Dialog'
		});

	$('#opener').click(function() {
		$dialog.dialog('open');
		// prevent the default action, e.g., following a link
		return false;
	});
});