<p><%= form.label :current_password %><br/>
<%= password_field_tag :current_password %></p>

<p><%= form.label :password %><br/>
<%= form.password_field :password %></p>

<p><%= form.label :password_confirmation, 'Confirm Password' %><br/>
<%= form.password_field :password_confirmation %></p>
