<div class="data-entry">
  <% form.fields_for :participant do |pfields| -%>
    <%= render :partial => 'participants/form', :locals => {:participant_form => pfields} %>
  <% end -%>
</div>

<div class="data-entry">
  <h4>Login Information:</h4>
  <table>
    <tr>
      <td class="field">
        <%= form.text_field :login %>
        <br/>
        <%= label_tag 'login', "* Login" %>
      </td>
    </tr>
  </table>
  <% if show_password %>
  <table>
    <tr>
      <td class="field">
        <%= form.password_field :password %>
        <br/>
        <%= label_tag 'password', '* Password' %>
      </td>
      <td class="field">
        <%= form.password_field :password_confirmation %>
        <br/>
        <%= label_tag 'password_confirmation', '* Confirm Password' %>
      </td>
    </tr>
  </table>
    <% end %>
  <table>
    <tr>
      <td class="field">
        <%= form.text_field :security_question %>
        <br/>
        <%= label_tag 'security_question', '* Security Question' %>
      </td>
      <td class="field">
        <%= form.text_field :security_answer %>
        <br/>
        <%= label_tag 'security_answer', '* Security Answer' %>
      </td>
    </tr>
  </table>
</div>


<div class="data-entry">
  <h4>Additional Information:</h4>
  <table>
    <tr>
      <td>
        <%= form.text_field :position %>
        <br/>
        <%= label_tag 'position(s) on staff' %>
      </td>
      <td>
        <%= form.text_field :email %>
        <br/>
        <%= label_tag 'email', '* Email' %>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <%= form.text_field :home_phone %>
        <br/>
        <%= label_tag 'home phone' %>
      </td>
      <td>
        <%= form.text_field :cell_phone %>
        <br/>
        <%= label_tag 'cell phone' %>
      </td>
    </tr>
  </table>
</div>

<div class="data-entry">
  <%= label_tag 'Promote to Admin?' %>
  <%= form.check_box :admin_role  %>
</div>
