
Select someone from this list
<br /><%= form.select("participant", @participants.collect{|p| [p.fullname, p.id]}) %>
  <%= link_to "Create New Participant", new_from_user_participants_path %>
<br />
Or create new Participant. (Include same form fields as when entering new participant here)

<hr />
<%= image_tag @user.head_shot.url -%><br />
Then enter staff-specific information:
<% @user.password = @user.password_confirmation = nil %>

<p><%= label_tag 'login' %><br/>
<%= form.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= form.text_field :email %></p>

<p><%= label_tag 'mobilephone' %><br/>
<%= form.text_field :mobilephone %></p>

<p><%= label_tag 'workphone' %><br/>
<%= form.text_field :workphone %></p>

<p><%= label_tag 'position' %><br/>
<%= form.text_field :position %></p>

<p><%= label_tag 'photourl' %><br/>
<%= form.text_field :photourl %></p>

<p><%= label_tag 'head shot' -%><br />
<%= form.file_field :head_shot -%></p>

<p><%= label_tag 'password' %><br/>
<%= form.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= form.password_field :password_confirmation %></p>

<p><%= label_tag 'security_question'%><br/>
<%= form.text_field :security_question %></p>

<p><%= label_tag 'security_answer'%><br/>
<%= form.text_field :security_answer %></p>
