<div class="data-entry">
  Pick A Person
    <div class="data-entry-form">
    <%= select("user", "participant_id_attr", @participants.collect{ |p| [p.list_name, p.id] },
               :include_blank => "-- Choose from the List --", :selected => @user.participant_id_attr ) %>
    - OR -
      <%= link_to "Create a New Participant", new_from_user_participants_path %>
    <br />

    <% @user.password = @user.password_confirmation = nil %>
    </div>
</div>

<div class="data-entry">
  Login Information:
    <div class="data-entry-form">
    <p><%= label_tag 'login' %><br/>
    <%= form.text_field :login %></p>
    </div>

    <div class="data-entry-form">
    <% if show_password %>
    <p><%= label_tag 'password' %><br/>
    <%= form.password_field :password %></p>

    <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
    <%= form.password_field :password_confirmation %></p>
    <% end %>
    </div>

    <div class="data-entry-form">
    <p><%= label_tag 'security_question'%><br/>
    <%= form.text_field :security_question %></p>

    <p><%= label_tag 'security_answer'%><br/>
    <%= form.text_field :security_answer %></p>
  </div>
</div>


<div class="data-entry">
  Additional Information:
  <div class="data-entry-form">
    <p><%= label_tag 'position(s) on staff' %><br/>
    <%= form.text_field :position %></p>

    <p><%= label_tag 'email' %><br/>
    <%= form.text_field :email %></p>

    <p><%= label_tag 'home phone' %><br/>
    <%= form.text_field :workphone %></p>

    <p><%= label_tag 'cell phone' %><br/>
    <%= form.text_field :mobilephone %></p>

  </div>
</div>

