<h1>Edit <%= username_or_your %> Profile</h1>
<div style="background-color:red">
<%= error_messages_for :user %>
</div>
<% form_for @user, :html => {:multipart => true} do |form| -%>
  <%= render :partial => form, :locals => { :show_password => false } %>
  <%= submit_tag 'Save Staff Member', :class => 'button' %> 
  <%= link_to 'Back', users_path, :class => 'button' %>
<% end -%>

