<h1>Listing Staff</h1>

<table>
  <tr>
		<td>Name</td>
		<td>Login</td>
		<td>Email</td>
    <td></td>
    <td></td>
	</tr>
<% @users.each do |user| %>
  <tr>
		<td><%=h user.participant.fullname%>
		<td><%=h user.login%></td>
		<td><%=h user.email%></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% if not user.administrator? %>
       <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add new staff', new_user_path %>
