<h1>Listing Staff</h1>

<%= will_paginate @users -%>
<table>
  <thead>
  <tr>
		<td>Name</td>
		<td>Login</td>
		<td>Email</td>
    <td></td>
    <td></td>
	</tr>
	</thead>
	<tbody>
<% @users.each do |user| %>
  <tr>
		<td><%=h user.participant.fullname%>
		<td><%=h user.login%></td>
		<td><%=h user.email%></td>
    <td><%= link_to 'Edit', edit_user_path(user), :class => 'edit' %></td>
    <td><% unless user.administrator? || user == current_user %><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %><% end %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @users -%>

<br />

<%= link_to 'Add new staff', new_user_path %>
