<h1>Listing Staff</h1>

<%= will_paginate @users -%>
<table>
  <thead>
  <tr>
    <th></th>
	<th>Name</th>
	<th>Login</th>
	<th>Email</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @users.each_with_index do |user, row| %>
  <tr class="<%= ContentHelper.rowstyle(row) %>">
    <td><%=h( row+1 + @users.offset ) -%></td>
	<td><%=h user.participant.fullname.to_s if user.participant%></td>
	<td><%=h user.login %></td>
	<td><%=h user.email %></td>
    <td><%= link_to 'Edit', edit_user_path(user), :class => 'edit' %></td>
    <td><% unless user.administrator? || user == current_user %><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete, :class => 'delete' %><% end %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @users -%>

<br />

<%= link_to 'Add new staff', new_user_path %>
