<h1>Forgotten Password</h1>

<% form_for @user, :url => reset_password_user_path(@user) do |form| %>
<p><%= form.label :password %><br/>
<%= form.password_field :password %></p>

<p><%= form.label :password_confirmation, 'Confirm Password' %><br/>
<%= form.password_field :password_confirmation %></p>

<%= submit_tag 'Change password' %>
<% end %>