<h1>Contact Us</h1>

<% form_for(@contact) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :rows => 6 %>
  </p>
  <p>
    <button class="positive">Send</button>
  </p>
<% end %>

<% if request.xhr?  %>
  <script type="text/javascript" charset="utf-8">
    jQuery(function() {
      $("form#new_contact").ajaxForm({
        target: '#fancybox-inner',
        success: function() {
            $('#fancybox-inner').show();
            $.fancybox.resize();
        }
      });
    });
  </script>
<% end %>