<div class="fields">
<%= group.label :min %>
<%= group.text_field :min %>
<%= group.label :max %>
<%= group.text_field :max %>
<%= group.label :report_string %>
<%= group.text_field :text %>

<%= group.hidden_field :_destroy %>
<%= group.hidden_field :id %>
<%= link_to_function "Remove", "remove_fields(this)", :class=>"icon minus action" %>
<br>

</div>
