<tr class="<%=room.beds.to_i < room.participants.count ? 'overload' : 'normal' -%>">
  <td><%= room.id -%></td>
  <td><%= text_field_tag  "beds[#{room.id}]", room.beds, :size => 3 -%></td>
  <td>&nbsp;<%= room.participants.count -%></td>
  <td>
    <% room.participants.each do |p| -%>
      <%= link_to p.fullname.gsub(' ','&nbsp;'), edit_participant_path(p) -%>
    <% end -%>
  </td>
  <td>
    <%=room.participants.collect{ |p| link_to p.family.familyname.gsub(' ','&nbsp;'), family_path(p.family) }.uniq.join(' ') -%>
  </td>
</tr>
