<h1>List of CDs</h1>
<p><%= @total_cds %> total CDs need to be made, for <%= @families_with_photo_cds.size %> families</p>
<table>
  <tr>
    <th></th>
    <th># of CD's</th>
    <th>Family Name (Contact Name)</th>
    <th>Family Address</th>
  </tr>
  <% @families_with_photo_cds.each_with_index do |family, i| %>
  <tr>
    <td> <%= (i+1) %> </td>
    <td> <%= family.number_of_photo_cds %> </td>
    <td> <%= "#{family.familyname} (#{family.main_contact_name})" %> </td>
    <td> <%= family.full_address %> </td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Families who opted out of getting a CD (For reference)</th>
  </tr>
  <% @families_without_cds.each_with_index do |family, i| %>
  <tr>
    <td><%= link_to "#{family.familyname} (#{family.main_contact_name})", edit_family_path(family) %></td>
  </tr>
  <% end %>  
</table>