<h1>Registrations by Age</h1>
<table>
  <% @participants_by_age.keys.reverse.each do |key| %>
    <tr>
      <th class="wide"><%= key %></th>
      <th class="wide">Address</th>
    </tr>
    <% @participants_by_age[key].each_with_index do |participant, i| %>
      <tr class="<%= ContentHelper.rowstyle(i) %><%= participant.birthday_during_camp? ? ' birthday-in-camp' : '' %>">
        <td>
          <%= "#{i+1}. #{participant.fullname}" %>
          <% unless participant.hide_age? %><%= "(#{participant.display_age})" %><% end %>
          <%= "(has a birthday during camp!)" if participant.birthday_during_camp? %>
        </td>
        <td><%= participant.full_address %></td>
      </tr>
    <% end %>
  <% end %>
</table>
