<h1>Registrations by Grade</h1>
<table>
  <% @participants_by_grade.keys.sort.each do |key| %>
    <% if @participants_by_grade[key].present? %>
      <tr>
        <th class="wide"><%= key %></th>
        <th class="wide">Address</th>
      </tr>
    <% end %>
    <% @participants_by_grade[key].each_with_index do |participant, i| %>
      <tr class="<%= ContentHelper.rowstyle(i) %><%= participant.birthday_during_camp? ? ' birthday-in-camp' : '' %>">
        <td>
          <%= "#{i+1}. #{participant.fullname}" %>
          <%= "(age: #{participant.display_age})" %>
          <%= "(grade: #{participant.grade})" %>
          <%= "(has a birthday during camp!)" if participant.birthday_during_camp? %>
        </td>
        <td><%= participant.full_address %></td>
      </tr>
    <% end %>
  <% end %>
</table>
