<h1>Registrations by Age</h1>
<table>
  <% @age_groups.each do |age_group| %>
      <tr>
      <th class="wide"><%= age_group.text %></th>
      <th class="wide">Address</th>
    </tr>
    <% age_group.get_participants.each_with_index do |participant, i| %>
      <tr class="<%= ContentHelper.rowstyle(i) %><%= participant.birthday_during_camp? ? ' birthday-in-camp' : '' %>">
        <td>
          <%= "#{i+1}. #{participant.fullname}" %>
          <% unless participant.hide_age? %><%= "(#{participant.display_age})" %><% end %>
          <%= "(has a birthday during camp!)" if participant.birthday_during_camp? %>
        </td>
        <td><%= participant.full_address %></td>
      </tr>
    <% end %>
  <% end %>
</table>
