<ul>
  <% if logged_in? %>
    <li>
      <a href="#" class="pulldown">Manage</a>
      <ul class="pulldown">
        <li><%= link_to 'Home', staff_url, :controller => :staff -%></li>
        <li><%= link_to 'Families', families_url, :controller => :families -%></li>
        <li><%= link_to 'Participants', participants_url, :controller => :participants -%></li>
        <li><%= link_to 'Staff', users_url, :controller => :users -%></li>
        <li><%= link_to 'Configuration', config_edit_url, :controller => :config_edit -%></li>
      </ul>
    </li>
    <li>
      <a href="#" class="pulldown">Reports</a>
      <ul class="pulldown">
        <li><%= link_to 'Registrations by Age', url_for(:controller => :reports, :action => :participants_by_age) -%></li>
      </ul>
    </li>
    <li>
      <a href="#" class="pulldown">Profile</a>
      <ul class="pulldown">
        <li><%= link_to 'My Profile', edit_user_path(current_user) %></li>
        <li><%= link_to 'Change Password', show_password_user_path(current_user) %></li>
      </ul>
    </li>
      <li><%= link_to 'Logout', logout_url, :controller => :sessions, :action => :destroy -%></li>
  <% else %>
    <div id="login-form">
      <%= render :partial => 'sessions/login_form' %>
    </div>
    <li><a class="login" href="/login" target="#login-form">Staff Login</a></li>
  <% end %>

  <li>
    <a href="#" class="pulldown">About</a>
    <ul class="pulldown">
      <li><a href="/landing" >About Camp</a></li>
      <li><a href="/mission">Our Mission</a></li>
      <li><a href="/philosophy">Our Philosophy</a></li>
      <li><a href="/facilities">Facilities</a></li>
      <li><a href="/testimonials">Testimonials</a></li>
    </ul>
  </li>
  <li><a href="/contact_info">Contact Info</a></li>
  <li><a href="/how_to_register">How To Register</a></li>
</ul>

