<% if logged_in? %>
  <ul>
    <li><%= link_to 'Home', staff_url, :controller => :staff -%>
    <li><%= link_to 'Families', families_url, :controller => :families -%></li>
    <li><%= link_to 'Participants', participants_url, :controller => :participants -%></li>
    <li><%= link_to 'Staff', users_url, :controller => :users -%></li>
    <li><%= link_to 'Files', files_url, :controller => :files -%></li>
  </ul>
<% end %>
