<ul>
    <li><%= link_to 'Dashboard', dashboard_url -%></li>
    <li>
      <a href="#" class="pulldown">Manage</a>
      <ul class="pulldown">
        <li><%= link_to 'Registered Families', families_url -%></li>
        <li><%= link_to 'Registered Participants (this choice may not be needed, and could be removed some day)', participants_url -%></li>
        <li><%= link_to 'Past Participants', url_for(:controller=>:participants_past, :action=>:index) -%></li>
        <li><%= link_to 'Staff', users_url -%></li>
        <li><%= link_to 'Years', edit_years_url -%></li>
      </ul>
    </li>
    <li>
      <a href="#" class="pulldown">Reports</a>
      <ul class="pulldown">
        <li><%= link_to 'Registrations by Age', url_for(:controller => :reports, :action => :participants_by_age) -%></li>
        <li><%= link_to 'Families by State/City', url_for(:controller => :reports, :action => :families_by_state) -%></li>
        <li><%= link_to 'Birthdays by Month', url_for(:controller => :reports, :action => :birthdays_by_month) -%></li>
        <li><%= link_to 'List of CDs', url_for(:controller => :reports, :action => :list_of_cds) -%></li>
      </ul>
    </li>
    <% if current_user %>
      <li>
        <a href="#" class="pulldown">Profile</a>
        <ul class="pulldown">
          <li><%= link_to 'My Profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Change Password', show_password_user_path(current_user) %></li>
        </ul>
      </li>
    <% end -%>
    <li><%= link_to 'View Site', root_url %></li>
    <li><%= link_to 'Logout', logout_url, :controller => :sessions, :action => :destroy -%></li>
</ul>

