<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= h(yield(:title) || "Family Camp Administrative Dashboard") %></title>
  <%= stylesheet_link_tag 'reset', 'style', :cache => "application" %>
  <%= stylesheet_link_tag 'http://jquery-ui.googlecode.com/svn/tags/1.8/themes/cupertino/jquery.ui.all.css' %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <%= javascript_include_tag 'vendor/jquery.dropdown', 'application', :cache => true %>

  <%= yield :head %>
</head>
<body class="<%= body_class %>">
  <div id="main-nav">
    <%= render :partial => 'layouts/navigation' %>
  </div>
  <div id="container">
    <div id="header" class="vevent">
      <!-- need to fill the href with the full domain for vEvent -->
      <h1><a href="/" class="url summary">Northwest Plains District Family Camp</a></h1>
      <div class="meta">
        <p class="theme"><%= "#{Configuration.current.theme}" %></p>
        <p class="date"><%= Configuration.current.date_range %></p>
        <p class="location"><a href="#" title="Map of Widewater Retreat & Ministry Center">Widewater Retreat & Ministry Center. Liberty Center, OH</a></p>
      </div>
      <% if logged_in? %>
        <div class="registration_stats">Registrations To Date: <br /> <%= registration_stats %></div>
      <% end %>
    </div>

    <div id="content">
      <%= get_messages %>
      <%= yield %>
    </div>
    <div id="footer">
      <%= yield :footer %>
    </div>
  </div>
</body>
</html>
